:root {
  --electric-violet: #854dff;
  --persimmon: #ff5757;
  --white: #ffff;
  --gallery: #f0f0f0;
  --alto: #dbdbdb;
  --dove-gray: #716f6f;
  --cod-gray: #141414;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  margin: 2rem;
  background-color: var(--alto);
  height: 100vh; /* Hauteur égale à X% de la hauteur de la fenêtre du navigateur */
  /*width: 100vw; /* Largeur égale à X% de la largeur de la fenêtre du navigateur */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px 15px 60px 15px;
}

form {
  display: flex;
  /*border-bottom: 1px solid var(--dove-gray);*/
  font-size: 16px;
  /*padding: 1rem;*/
}

.form-group {
}

.label {
  color: var(--dove-gray);
  font-size: 12px;
}

input {
  max-width: 4.8rem;
  /*margin-left: 0.3rem;*/
  margin: 0.2rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border-color: var(--alto);
  border-style: solid;
}

input:focus {
  border: 1px solid var(--electric-violet);
}

.month-input {
}

.year-input {
}

.display-result-btn {
  border-radius: 50%;
  background-color: var(--electric-violet);
  border: none;
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  top: 25%;
  right: 40%;
}

.display-result-btn img {
  width: 2.5rem;
  height: 2.5rem;
}

.result-container {
  border-top-color: var(--alto);
  border-top-style: solid;
  margin-top: 5rem;
  padding-top: 5rem;
  font-size: 45px;
}

.year-container,
.month-container,
.day-container {
}

.display-result-year,
.display-result-month,
.display-result-day {
  color: var(--electric-violet);
}

.years {
}

footer {
}

footer a {
  color: var(--electric-violet);
  font-size: 18px;
  text-decoration: none;
}
