:root {
  --electric-violet: #854dff;
  --persimmon: #ff5757;
  --white: #ffff;
  --gallery: #f0f0f0;
  --alto: #dbdbdb;
  --dove-gray: #716f6f;
  --cod-gray: #141414;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  margin: 2rem;
  background-color: var(--alto);
  height: 100vh; /* Hauteur égale à X% de la hauteur de la fenêtre du navigateur */
  /*width: 100vw; /* Largeur égale à X% de la largeur de la fenêtre du navigateur */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px 15px 60px 15px;

  @media screen and (min-width: 768px) {
    width: 60%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px 15px 100px 15px;
  }
}

.form {
  font-size: 16px;
  margin-bottom: 2.5rem;
}

form span {
  font-size: 8px;
  color: var(--persimmon);

  @media screen and (min-width: 1024px) {
    font-size: 10px;
  }
}

.form-groups-wrapper {
  display: flex;
  margin-bottom: 1rem;
}

.form-group {
  margin-right: 0.5rem;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.form-group:last-child {
  margin-right: 0rem;
}

.label {
  color: var(--dove-gray);
  font-size: 12px;
}

input {
  max-width: 4.8rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border-color: var(--alto);
  border-style: solid;

  @media screen and (min-width: 768px) {
    max-width: 6rem;
    margin-top: 0.5rem;
  }
}

input:focus {
  border: 1px solid var(--electric-violet);
}

.month-input {
}

.error {
  @media screen and (min-width: 768px) {
    margin: 0.5rem;
  }
}

.input-error {
  border: 1px solid var(--persimmon);
}

.label-error {
  color: var(--persimmon);
}

.year-input {
}

.submit-btn-wrapper::before {
  content: "";
  width: 100%;
  background-color: var(--alto);
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.submit-btn-wrapper {
  display: flex;
  justify-content: center;
  position: relative;

  @media screen and (min-width: 768px) {
    justify-content: end;
  }
}

.display-result-btn {
  border-radius: 50%;
  background-color: var(--electric-violet);
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 10;
}

.display-result-btn img {
  width: 2.5rem;
  height: 2.5rem;
}

.result-container {
  /*border-top-color: var(--alto);
  border-top-style: solid;
  margin-top: 5rem;
  padding-top: 5rem;*/
  font-size: 45px;

  @media screen and (min-width: 768px) {
    font-size: 55px;
  }
  
  @media screen and (min-width: 1024px) {
    font-size: 75px;
  }
}

.year-container,
.month-container,
.day-container {
}

.display-result-year,
.display-result-month,
.display-result-day {
  color: var(--electric-violet);
}

.years {
}

.footer {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.footer-link {
  color: var(--electric-violet);
  font-size: 16px;
  text-decoration: none;
}
